@import "../../../../assets/scss/variables.scss";

.listTalentsWrap {
	flex-grow: 1;
	background-color: $backgroundMain;
	border-radius: $borderRadius;
	padding: 1.8rem;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: $boxShadow;

	&::-webkit-scrollbar {
		width: 7px;
		transition: all 2s;
	}

	&::-webkit-scrollbar-track {
		background: rgba(217, 219, 226, 0);
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(217, 219, 226, 0);
		border-radius: 8px;
		transition: all 2s;
	}

	&:hover::-webkit-scrollbar-thumb:vertical {
		background-color: rgba(119, 111, 111, 0.68);
	}

	&::-webkit-scrollbar-thumb:vertical:hover {
		background-color: rgba(133, 133, 133, 0.68);
	}

	.listTalentContent {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		gap: 2rem;
	}
}
