HOST=localhost
PORT=3456

APP_NAME=OpenNezt
APP_URL_API=https://api.opennezt.com
APP_URL_CLIENT=https://opennezt.com
OTHER_URLS_CLIENT=["https://opennezt.com"]

APP_URL_AUTH=auth
SECRET_KEY=tuoigihackduocwebcuatao
LOGIN_EXPIRE_IN=7d
VERIFY_EMAIL_EXPIRE_IN=10m
REQUESTS_LIMIT_PER_MINUTE=100

DB_HOST=cluster0.mongodb.net
DB_PORT=27017
DB_USER=vuongmanhnghia
DB_USERNAME=opennezt
DB_PASSWORD=opennezt
DB_NAME=OpenNezt
DB_AUTH_SOURCE=admin

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USERNAME=vuongmanhnghia
MAIL_PASSWORD=vwdt iftc nhbi cved
MAIL_FROM_ADDRESS=no-reply@gmail.com
MAIL_FROM_NAME=OpenNezt

OPENAI_API_KEY=6bK1WtH7EwMUHtm1B4Pf7Tl5YZfFkbwzPYaXmEmYJTOJCqyCyOVvJQQJ99BBACHYHv6XJ3w3AAABACOGVGpy
OPENAI_ENDPOINT=https://opennezt-openai-service.openai.azure.com/
OPENAI_MODEL=openai/deployments/gpt-4/chat/completions
MODEL=gpt-4o-mini
OPENAI_API_VERSION=2024-08-01-preview

# LINKEDIN
LINKEDIN_URL=https://www.linkedin.com/oauth/v2/authorization
LINKEDIN_RESPONSE_TYPE=code
LINKEDIN_CLIENT_ID=86vc5zzjci5xrz
LINKEDIN_CLIENT_SECRET=WPL_AP1.Pu4KCLPjPc1NJh1q.EjYsvA==
LINKEDIN_REDIRECT_URI=https://opennezt.com/auth/linkedin/callback
LINKEDIN_SCOPE=openid%20profile%20email
LINKEDIN_STATE=123456