.projectContainer {
	.projectHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-size: 24px;
			font-weight: bold;
		}

		.btnCreate {
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			font-size: 14px;

			&:hover {
				background-color: darken(#6c9bcf, 10%);
			}
		}
	}
}

.projectsList {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	.projectItem {
		border: 1px solid #ccc;
		padding: 10px;
		width: 200px;
		cursor: pointer;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
		border-radius: 8px;

		&hover {
			transform: scale(1.05);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}

		h4 {
			font-size: 18px;
		}

		p {
			font-size: 14px;
			color: #555;
		}
	}
}
