@import "../../../assets/scss/variables";

.boxMainLayout {
	margin: 0 auto;
	background-color: $backgroundMain;
}

.boxMainLayoutShowBackGround {
	background-color: #f2f4f7;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mainLayoutWrap {
	margin: auto;

	.mainWrap {
		transition: all 0.5s;
		height: 100vh;

		.mainContentWrap {
			background-color: $backgroundMain;
			overflow-y: auto;
			overflow-x: hidden;
			margin-bottom: 70px;
		}
	}

	.mainWrapWithConditionSideBarClose {
		// width: calc(100% - 64px);
		// margin-left: 64px;
	}

	@media only screen and (max-width: 1024px) {
		.mainWrap {
			// width: calc(100% - 64px);
			// margin-left: 64px;
			transition: all 0.5s;
			height: 100vh;
		}
		.mainWrapWithConditionSideBarClose {
			// width: calc(100% - 64px);
			// margin-left: 64px;
		}
	}
}
