@import "src/assets/scss/variables";

.notificationsWrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.overviewWrap {
		.itemWrap {
			background: $colorWhite;
			padding: $cardPadding;
			border-radius: $borderRadius2;
			height: 100%;
			box-shadow: $boxShadow;
			transition: box-shadow 0.3s ease;
			cursor: pointer;

			&:hover {
				box-shadow: none;
			}

			.friendsWrap {
				.labelWrap {
					font-size: 0.93rem;
					margin-bottom: 0.6rem;
					color: $textColorDarkVariant;
				}
				.numberWrap {
					font-size: 1.75rem;
					color: $colorBlack;
					font-weight: 600;
					margin-bottom: 0.6rem;
				}
				.dateUpdate {
					font-size: 0.85rem;
					color: $colorNote;
				}
			}

			.iconWrap {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				font-size: 2rem;
			}

			.iconUser {
				color: $colorPrimary;
			}

			.iconChart1 {
				color: #ec82ef;
			}

			.iconChart2 {
				color: $colorWarning;
			}

			.iconMoney {
				color: $colorSuccess;
			}
		}
	}

	.notificationsTableWrap {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: $cardPadding;
		background: #fff;
		border-radius: $borderRadius4;
		box-shadow: $boxShadow;

		h2 {
			margin-bottom: 24px;
		}

		.actionButtons {
			display: flex;
			gap: 8px;
		}
	}
}
