@use '../../../assets/scss/variables.scss' as *;

.projectsWrap {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 2rem;
   background-color: $backgroundMain;
   border-radius: $borderRadius;
}
