@import "../../../../../assets/scss/variables.scss";

.boxBasicTalentWrap {
	position: relative;
	display: flex;
	background-color: $colorWhite;
	// height: 10rem;
	box-shadow: $boxShadow;
	padding: 1rem;
	gap: 1rem;
	border-radius: $borderRadius;

	.avatarTalent {
		width: 8rem;
		height: 8rem;
		border-radius: $borderRadius;
		object-fit: cover;
		overflow: hidden;
		border: 3px solid $backgroundMain;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.boxBasicTalentContent {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		justify-content: space-between;

		.nameTalent {
			display: flex;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			text-overflow: ellipsis; /* Thêm dấu ba chấm khi tràn */
			overflow: hidden;
		}

		.moreInfo {
			width: 100%;
			background-color: #e2e5e9;
			padding: 0.4rem;
			border-radius: $borderRadius;
			box-shadow: $boxShadow;
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			.industriesTalent {
				border-radius: $borderRadius;
				display: -webkit-box;
				font-size: 14px;
				text-align: center;
				font-weight: 600;
			}

			.moreInfoTalent {
				display: flex;
				flex-wrap: wrap;
				font-size: 13px;
				// text-align: center;
				color: $colorActive;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis; /* Thêm dấu ba chấm khi tràn */
				gap: 0.2rem;
			}
		}

		.actionsTalent {
			display: flex;
			gap: 1rem;
			justify-content: space-between;
			bottom: 1rem;
		}
	}
}
