NODE_ENV=development
PORT=3456

APP_NAME=OpenNezt
APP_URL_API=http://localhost:3456
APP_URL_CLIENT=http://localhost:3000
OTHER_URLS_CLIENT=["http://localhost:5173"]

APP_URL_AUTH=auth
SECRET_KEY=
LOGIN_EXPIRE_IN=7d
VERIFY_EMAIL_EXPIRE_IN=10m
REQUESTS_LIMIT_PER_MINUTE=200

# Redis Configuration (optional in development)
USE_REDIS=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

DB_PORT=27017
DB_USER=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_AUTH_SOURCE=admin

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# LINKEDIN
LINKEDIN_URL=https://www.linkedin.com/oauth/v2/authorization
LINKEDIN_RESPONSE_TYPE=code
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=http://localhost:3456/auth/linkedin/callback
LINKEDIN_SCOPE=openid%20profile%20email
LINKEDIN_STATE=123456

# GOOGLE
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3456/auth/google/callback
COOKIE_KEY=random_opennezt_cookie_key
GOOGLE_TOKEN_ENDPOINT=https://oauth2.googleapis.com/token
GOOGLE_CLOUD_CREDENTIALS=./speech-to-text-service.json

# WEBPUSH
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
MAIL_TO=

# AI
AI_API_URL=https://api.dify.ai/v1/
AI_API_TOKEN=
AI_INTERVIEW_TOKEN=
AI_INTERVIEW_API_URL=https://viettelai.vn/tts/speech_synthesis
AI_TEXT_TO_SPEECH_TOKEN=

#LINKEDIN CRAWLER
LINKEDIN_USERNAME=
LINKEDIN_PASSWORD=
LINKEDIN_COOKIE_PATH =./linkedin-cookies.json

# OPENAI
OPENAI_API_KEY=
OPENAI_API_SPEECH_URL=https://api.openai.com/v1/audio/transcriptions


