@import "../../../assets/scss/variables.scss";

.talentCardSkeletonWrap {
	display: flex;
	background-color: $colorWhite;
	height: auto;
	box-shadow: $boxShadow;
	padding: 1rem;
	gap: 1rem;
	border-radius: $borderRadius;

	.avatarTalent {
		width: 8rem;
		height: 8rem;
		border-radius: $borderRadius;
		border: 3px solid $backgroundMain;
	}

	.boxBasicTalentContent {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		.moreInfo {
			width: 100%;
			background-color: #e2e5e9;
			padding: 0.4rem;
			border-radius: $borderRadius;
			box-shadow: $boxShadow;
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			.industriesTalent {
				border-radius: $borderRadius;
				display: -webkit-box;
				font-size: 14px;
				text-align: center;
				font-weight: 600;
			}

			.moreInfoTalent {
				font-size: 13px;
				// text-align: center;
				color: $colorActive;
			}
		}

		.actionsTalent {
			display: flex;
			gap: 1rem;
			justify-content: space-between;
			bottom: 1rem;
		}
	}
}
