@use '../../../assets/scss/variables' as *;

.select-custom {
   width: 100%;
   height: 52.4px;
   .ant-select-selector {
      height: 100% !important;
      padding: 10px !important;
      border-radius: 8px;
      border-color: $colorBorderInput !important;
   }

   &:hover {
      .ant-select-selector {
         border-color: #4096ff00;
      }
   }
}
