@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "../../../../assets/scss/variables";

.dark-mode-variables {
	--color-background: #181a1e;
	--color-white: #202528;
	--color-dark: #edeffd;
	--color-dark-variant: #a3bdcc;
	--color-light: rgba(0, 0, 0, 0.4);
	--box-shadow: 0 2rem 3rem var(--color-light);
}
.sideBarWrap {
	width: 200px;
	height: calc(90vh);
	position: fixed;
	transition: all 0.5s ease;
	z-index: 100;

	.logoWrap {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;

		.imgWrap {
			max-width: 100%;
			height: 30px;
		}
	}

	.navbarWrap {
		display: flex;
		flex-direction: column;
		position: relative;
		transition: all 0.3s ease;
		margin-top: 1.5rem;
		overflow-y: auto;
		background-color: #fff;
		border-radius: 1rem;
		box-shadow: $box-shadow;
		height: 88vh;

		.menuNav {
			list-style: none;
			padding: 0;
			margin: 0;

			.menuNavItem {
				font-size: 14px;
				margin-left: 1.8rem;
				height: 3.7rem;
				gap: 1rem;
				display: flex;
				align-items: center;
				transition: all 0.3s ease;
				cursor: pointer;

				&:hover {
					margin-left: 2.3rem;
				}
			}
			.menuNavItemActive {
				margin-left: 0;
				background-color: $backgroundNavItemActive;

				&::before {
					content: "";
					margin-right: 0.5rem;
					width: 6px;
					height: 18px;
					background-color: var(--color-primary);
				}

				&:hover {
					margin-left: 0;
				}
			}

			.logout {
				position: absolute;
				bottom: 1rem;
				color: $colorNavbar;
			}
		}
	}

	.btnToggleIsShowSideBar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0.5rem;
		background-color: var(--color-light);
		border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
		cursor: pointer;

		svg {
			color: var(--color-dark);
			font-size: 1.2rem;
			transition: transform 0.3s ease;

			&:hover {
				transform: rotate(180deg); // Xoay icon khi hover
			}
		}
	}
}
