@import "src/assets/scss/variables";

.inputWrap {
	input {
		border: 1px solid $colorBorderInput;
		border-radius: 8px;

		&:hover,
		&:focus {
			border: 1px solid $colorBorderInput;
		}
	}

	.error {
		font-size: 14px;
		font-weight: 500;
		color: $colorTextError;
	}
}

.inputPreFixWrap {
	position: relative;

	input {
		border: 1px solid $colorBorderInput;
		border-radius: 8px;
		padding: 4px 11px 4px 22px;

		&:hover,
		&:focus {
			border: 1px solid $colorBorderInput;
		}
	}

	.iconPrefix {
		position: absolute;
		top: 12px;
		left: 12px;
	}
}

.inputPreFixRightWrap {
	position: relative;
	input {
		border: 1px solid $colorBorderInput;
		border-radius: 8px;
		padding: 4px 22px 4px 11px;

		&:hover,
		&:focus {
			border: 1px solid $colorBorderInput;
		}
	}

	.iconPrefix {
		position: absolute;
		top: 12px;
		right: 10px;
	}
}

.inputPassword {
	position: relative;

	input {
		padding-right: 40px;
	}

	.visiblePassword {
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 12px;

		img {
			width: 24px;
			height: 24px;
		}
	}
}
