.GradientPink {
    background: linear-gradient(to right, #e9b2b8, #f6e5e7, #fafafa);
  }
  
.GradientBlue {
    background: linear-gradient(to right, #a7c7df , #d9e6f2 , #fafafa);
  }

.GradientPurple {
    background: linear-gradient(to right, #c7b6d9  , #e7e0f0  , #fafafa);
  }