.memberBoxWrap {
	padding: 1rem;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.5rem;

	.memberBoxAvatar {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		overflow: hidden;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	.memberBoxName {
		margin-top: 1rem;
		font-size: 1rem;
		font-weight: 500;
		cursor: pointer;
	}
}
