.loading {
   width: 100%;
   height: 50px; /* Tăng chiều cao lên một chút */
   display: flex;
   justify-content: center; /* Căn giữa theo chiều ngang */
   align-items: center; /* Căn giữa theo chiều dọc */
   // background-color: #ac9ae8;
}

.scanner span {
   color: transparent;
   font-size: 0.9rem;
   font-weight: 600;
   position: relative;
   overflow: hidden;
}

.scanner span::before {
   content: 'OpenNezt...';
   position: absolute;
   top: 0;
   left: 50px;
   width: 0;
   text-wrap: nowrap;
   white-space: nowrap;
   height: 100%;
   display: flex;
   align-items: center;
   border-right: 3px solid;
   color: #4f0f8c;
   overflow: hidden;
   animation: loading 4s linear infinite;
}

@keyframes loading {
   0%,
   10%,
   100% {
      width: 0;
   }
   10%,
   20%,
   30%,
   40%,
   50%,
   60%,
   70%,
   80%,
   90%,
   100% {
      border-right-color: transparent;
   }
   11%,
   21%,
   31%,
   41%,
   51%,
   61%,
   71%,
   81%,
   91% {
      borsder-right-color: #4f0f8c;
   }
   60%,
   80% {
      width: 100%;
   }
}

.circle {
   width: 40px;
   height: 40px;
   background: red;
   border-radius: 50%;
   animation: spin 3s;
   /* alternate infinite; */
   animation-iteration-count: infinite;
   position: absolute;
}

.circle:nth-child(1) {
   animation-delay: 0.1s;
   background: #4f0f8c;
   width: 36px;
   height: 36px;
}

.circle:nth-child(2) {
   animation-delay: 0.2s;
   background: #6914ba;
   width: 32px;
   height: 32px;
}

.circle:nth-child(3) {
   animation-delay: 0.3s;
   background: #831ae7;
   width: 28px;
   height: 28px;
}

.circle:nth-child(4) {
   animation-delay: 0.4s;
   background: #9c48ec;
   width: 24px;
   height: 24px;
}

.circle:nth-child(5) {
   animation-delay: 0.5s;
   background: #b577f0;
   width: 20px;
   height: 20px;
}

.circle:nth-child(6) {
   animation-delay: 0.6s;
   background: #cea5f5;
   width: 16px;
   height: 16px;
}

.circle:nth-child(7) {
   animation-delay: 0.7s;
   background: #e7d3fa;
   width: 12px;
   height: 12px;
}

.circle:nth-child(8) {
   animation-delay: 0.8s;
   background: white;
   width: 8px;
   height: 8px;
}

.circle:nth-child(9) {
   animation-delay: 0.9s;
   background: white;
   width: 6px;
   height: 6px;
}

@keyframes spin {
   0% {
      border-radius: 50%;
      transform: rotate(0);
   }
   20% {
      border-radius: 50%;
      transform: rotate(0);
   }
   90% {
      border-radius: 5%;
      transform: rotate(90deg);
   }
   100% {
      border-radius: 5%;
      transform: rotate(90deg);
   }
}
