@import "../../../../assets/scss/variables.scss";

.boxProjectMatchingWrap {
	width: 100%;
	padding: 1rem;
	background-color: $colorWhite;
	border-radius: $borderRadius;
	box-shadow: $boxShadowDark;
	cursor: pointer;
	transition: all 0.2s linear;
	height: auto;
	// max-height: 20rem;
	display: flex;
	flex-direction: column;

	&:hover {
		box-shadow: $boxShadowHover;
		transform: scale(1.01);
	}

	.backgroundProject {
		flex-grow: 1;
		width: 100%;
		border-radius: $borderRadius;
		overflow: hidden;

		.backgroundImage {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.projectInfo {
		width: 100%;
		h3 {
			margin: 0;
			margin-top: 1rem;
			font-weight: 700 !important;
			white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
			overflow: hidden; /* Ẩn phần văn bản vượt quá chiều rộng */
			text-overflow: ellipsis;
		}

		.compatibility {
			padding: 2rem 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}

	p {
		width: 100%;
		font-size: 16px;
		color: $colorBlack;
		margin: 0.5rem 0;
		-webkit-box-orient: vertical !important;
		-webkit-line-clamp: 2 !important;
		text-overflow: ellipsis !important; /* Thêm dấu ba chấm khi tràn */
		overflow: hidden !important;
		white-space: "nowrap" !important;
		width: 300px;
	}
}
