@import "../../../../assets/scss/variables.scss";

.stepWrap {
	background-color: white;
	height: 100px;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: $boxShadow;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		transform: translateY(-5px);
	}

	.stepHeader {
		font-size: 1.2rem;
		color: #4c4c4c;
		font-weight: 600;
		line-height: 40px;
	}

	.stepContent {
		margin-left: 2rem;
		font-size: 1.5rem;
		color: #4c4c4c;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
	}

	.chevron {
		margin-right: 1rem;
		font-size: 3rem;
		color: #4c4c4c;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
	}
}
