@import "../../../assets/scss/variables.scss";

.talentProfileCardWrap {
	background-color: $colorBackground;
	border-radius: $borderRadius;
	// padding: 1.8rem;
	.bannerContainer {
		background-color: $colorBackground;
		border-radius: $borderRadius;
		padding: 2rem;

		.banner {
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1rem;
			overflow: hidden;

			.background {
				width: 100%;
				max-height: 300px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					max-height: 300px;
					object-fit: cover;
				}
			}
		}

		.avatar {
			transform: translateX(-50%);
			width: 150px;
			height: 150px;
			border-radius: 50%;
			border: 3px solid var(--color-white);
			overflow: hidden;
			margin-left: 66px;
			margin-top: -25%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.userInfoWrap {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: var(--card-padding);
			border-radius: var(--card-border-radius);
			box-shadow: var(--box-shadow);
			margin-top: -45px;
			.userInfo {
				h1 {
					font-size: 2rem;
					font-weight: bold;
					// display: flex;
					align-items: center;
					justify-content: space-between;

					.verifyIcon {
						margin-left: 10px;
						width: 30px;
						height: 30px;
						position: relative;
					}
				}

				p {
					margin: 5px 0;
					color: var(--color-dark-variant);
				}

				a {
					display: inline-block;
					margin-top: 10px;
					color: var(--color-primary);
					text-decoration: none;
					font-weight: bold;

					&:hover {
						text-decoration: underline;
					}
				}
			}
			.userActions {
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 1.8rem;
				display: flex;
				gap: 1rem;
			}
		}
	}
}
