# Development Environment Configuration

# Path settings
SASS_PATH=./node_modules;./src

# Application settings
VITE_ENV=development
VITE_API_URL=http://localhost:3456
SKIP_PREFLIGHT_CHECK=true

# Web push notification key
VITE_VAPID_PUBLIC_KEY=

# Server port
PORT=3000